* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  background-color: #f2e9ff;
}

.names {
  font-family: cursive;
}

.expanding-gallery {
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  background-color: #101010;
  border-radius: 50px;
  color: white;
  margin-top: 10px;
  align-items: center;
  position: fixed;
  width: 100%;
  left: 0;
  border: 1px solid blue;
  right: 0;
}

.container {
  /* width: 100%; */
  overflow: hidden;
  min-height: calc(100vh - 50px);
  flex-direction: column;
  height: 100vh;
  background-color: #f2e9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
}

.kendev {
  font-family: "cursive", sans-serif;
}

.img-box {
  width: 80px;
  height: 400px;
  margin: 10px;
  border-radius: 50px;
  background: url(assets/One.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  transition: width .5s ease-in-out;
}

.img-box:nth-child(2) {
  background: url(assets/Two.jpg);
  background-size: cover;
  background-position: center;
}

.img-box:nth-child(3) {
  background: url(assets/Three.jpg);
  background-size: cover;
  background-position: center;
}

.img-box h3 {
  color: white;
  position: absolute;
  bottom: 0;
  left: 30px;
  opacity: 0;
  transition: bottom 0.5s ease-in-out, opacity 0.5s;
}

.img-box:hover {
  width: 250px;
  cursor: pointer;

  border-radius: 50px;
  border: 1px solid #09009f;
}

.img-box:hover h3 {
  opacity: 1;
  bottom: 25px;
}

.footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  font-size: 14px;
  width: 100%;
}

footer p {
  background-color: #101010;
  color: white;
  border-radius: 30px;
  padding: 5px 5px;
}

/* For the Scrollbar */
::-webkit-scrollbar {
  height: 5px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #cfb8b8;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}